<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Digite abaixo sua URL</h1>
        <form class="form-container" action="/create-code" method="POST">
            <input type="text" name="url" id="url">
            <button type="submit">Gerar</button>
        </form>
    </div>
</body>
</html>